/* Navbar */
.navbar {
  background-color: #007bff; /* Couleur bleue moderne */
  transition: background-color 0.3s ease; /* Effet de transition */
  padding: 10px; /* Suppression presque totale du padding externe */
  height: 120px; /* Définir une hauteur fixe pour la barre */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* Ombre douce */
}

.navbar .navbar-nav {
  display: flex;
  justify-content: center;
  list-style-type: none;
  align-items: center;
  margin: 5px; /* Suppression des marges */
}

.navbar .navbar-nav .nav-item {
  margin-right: 20px; /* Espacement réduit entre les éléments */
}

.navbar .navbar-nav .nav-link {
  color: white !important;
  font-size: 14px; /* Taille de police réduite */
  padding: 5px 8px; /* Moins de padding interne */
  text-transform: uppercase;
  border-radius: 20px; /* Réduction de l'arrondi */
  transition: all 0.3s ease;
}

.navbar .navbar-nav .nav-link i {
  margin-right: 5px; /* Réduction de l'espace avant les icônes */
  font-size: 16px; /* Taille d'icône ajustée */
}

.navbar .navbar-nav .dropdown-menu {
  background-color: #007bff;
  border-radius: 5px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

/* Barre de recherche */
.search-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 50px; /* Espacement réduit */
}

.search-container input {
  width: 250px; /* Taille plus petite pour la barre de recherche */
  padding: 10px; /* Réduction du padding */
  font-size: 14px; /* Taille de police ajustée */
}

/* Contenu principal */
.content-container {
  margin-top: 80px; /* Ajustement de l'espace en fonction de la hauteur réduite de la navbar */
  padding: 20px;
}
